#Info {
  display: block;
}

#Carousel {


}

body {
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

#Description {
  float: left;
  width: 70%;

}


#CheckOut {
  float: right;
  display:inline-block;
  width: 30%;
}

#Reviews {
  margin-bottom: 50px;
  clear: left;
  margin-left: 90px;
}

.Container {
  margin-left: 300px;
  margin-right: 300px;
}